@import "../abstracts/mixins";
@import "../abstracts/variables";

.fraction {
  &__wrap {

  }

  &__current {
    @include fontSize(60, 80);
    line-height: 1;
    color: #A59389;
  }

  &__total {
    color: #000000;
    margin-bottom: 6px;

    &:before {
      content: '/';
    }
  }
}


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* MAIN SLIDER */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.s-main {
  & .container {
    @media (max-width: 1120px) {
      padding: 0;
    }
  }

  &__row {
    @media (max-width: $breakpoint-md) {
      flex-direction: column-reverse;
    }

  }

  &__slider {
    @media (min-width: 1120px) {
      margin-right: calc((-100vw + 100%) / 2);
    }
    position: relative;
    @media (min-width: $breakpoint-lg) {
      &:after, &:before {
        content: '';
        width: 180px;
        height: 180px;
        left: -3px;
        background-color: #fff;
        display: block;
        position: absolute;
        z-index: 2;
      }

      &:before {
        top: -3px;
      }

      &:after {
        bottom: -3px;
      }
    }

    & .decor {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 3;
      width: auto;
      background: radial-gradient(black, transparent);
      height: 100%;
      object-fit: cover;
      @media (max-width: $breakpoint-md) {
        width: 460px;
        height: auto;
      }
    }

  }

  & .social {
    &__item {
      &:not(&:last-child) {
        @media (max-width: $breakpoint-md) {
          margin-right: 12px;
        }
        @media (min-width: $breakpoint-md) {
          margin-bottom: 24px;
        }
      }
    }

    & a {
      display: block;
      width: 32px;
      height: 32px;
      @media (max-width: $breakpoint-md) {
        width: 24px;
        height: 24px;
      }

      & img {
        object-fit: contain;
      }
    }

    &__title {
      & span {
        @include fontSize(14, 16);
        color: #020202;
        z-index: 2;
        position: relative;
      }

      @media (max-width: $breakpoint-md) {
        position: relative;
        &:after {
          content: '';
          width: calc(100% + 12px);
          left: 0;
          height: 100%;
          background-color: #fff;
          position: absolute;
          z-index: 1;
        }
      }
    }

    @media (max-width: $breakpoint-md) {

      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;

      &__wrap {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        margin: 24px 10px 0 10px;
        position: relative;

        &:after {
          content: '';
          width: calc(100% - 144px);
          height: 0.5px;
          background-color: #000000;
          position: absolute;
          top: 50%;

          left: 50%;
          transform: translate(-50%, -50%);
          z-index: -1;
        }
      }
    }
    @media (min-width: $breakpoint-md) {
      &__title {
        position: relative;
        width: 30px;

        & > span {
          display: block;
          width: max-content;
          position: absolute;
          right: 6px;
          top: 0;
          white-space: nowrap;
          transform: rotate(-90deg);
          -webkit-transform: rotate(-90deg);
          transform-origin: 100% 100%;
          -webkit-transform-origin: 100% 100%;
          margin-top: -19px;
          background-color: #fff;
          &:after {
            content: '';
            height: 26px;
            width: 24px;
            background-color: #fff;
            position: absolute;
            right: 100%;
          }

        }
      }

      &__wrap {

        height: calc(100vh - 360px);
        margin-top: 180px;
        display: grid;
        align-content: space-between;
        justify-content: center;
        position: relative;

        &:before {
          content: '';
          width: 1.5px;
          height: calc(100% - 224px);
          background-color: #000000;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: -1;
        }

      }
    }
  }

  & .fraction {
    &__wrap {
      position: absolute;
      bottom: 23px;
      left: 15px;
      z-index: 4;
      @media (max-width: $breakpoint-md) {
        bottom: 145px;
      }
    }

    &__total {
      @media (max-width: $breakpoint-md) {
        color: #FFFFFF;
      }
    }

    &__current {
      margin-right: 28px;
    }
  }

  & .swiper {
    &-button {
      &-prev {
        padding-right: 32px;
        @media (max-width: $breakpoint-md) {
          width: 50%;
          padding: 0;
        }
      }

      &-next {
        padding-left: 32px;
        @media (max-width: $breakpoint-md) {
          width: 50%;
          padding: 0;
        }
      }

      &__wrap {
        position: absolute;
        bottom: 0;
        left: 177px;
        padding: 36px;

        z-index: 2;
        @media (max-width: $breakpoint-md) {

          width: calc(100% - 30px);
          left: 15px;

        }

        &:after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          backdrop-filter: blur(13px);
          -webkit-backdrop-filter: blur(13px);
          background-color: rgba(255, 255, 255, 0.2);
          z-index: -1;
        }
      }
    }
  }


}

.main-slide {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  @media (max-width: $breakpoint-md) {
    margin-top: 80px;
    height: calc(100vh - 80px);
  }
  @media (max-width: $breakpoint-sm), (max-height: 750px) {
    height: calc(100vh - 80px + 180px);
  }

  &__info {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 20;
    width: 100%;
    max-width: 1064px;
    color: #fff;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: right;
    @media (max-width: 1120px) {
      padding: 0 15px;

    }
    @media (max-width: $breakpoint-md) {
      transform: none;
      top: 20%;
      @media (max-width: $breakpoint-sm) and (max-height: 750px) {
        top: 10%;
      }
    }

  }

  &__logo {
    width: 365px;
    margin-bottom: 60px;
    margin-left: auto;
    @media (max-width: $breakpoint-md) {
      width: 227px;
      margin-bottom: 56px;
    }
  }

  &__heading {
    margin-bottom: 32px;
    @media (max-width: $breakpoint-sm) and (max-height: 750px) {
      font-size: 24px;
    }
  }

  &__heading, &__description {
    width: 80%;
    margin-left: auto;
    @media (max-width: $breakpoint-lg) {
      width: 100%;
    }
  }


}

.main-slide .bg {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.main-slide .bg::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
}

.main-slide .video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  clip: rect(auto, auto, auto, auto);
  display: block;
}

.main-slide .video video {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.main-slide-info > *:last-child {
  margin-bottom: 0;
}

.main-slide-info h2 {
  color: inherit;
}

.main-slide-info p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 2em;
  color: rgba(255, 255, 255, 0.85);
}

.main-slider .swiper-pagination {
  text-align: center;
  bottom: 20px;
  width: 100%;
}

.main-slider .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 0 4px !important;
  border-radius: 100%;
  border: none;
  vertical-align: top;
  background-color: #fff;
  opacity: .4;
}

.main-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

/*media*/
@media(max-width: 1024px) {
  .main-slide-info {
    top: 70%;
  }

  .main-slide-info {
    left: 15px;
    right: 15px;
  }

  .main-slide-info p {
    font-size: 18px;
    margin-bottom: 1em;
  }
}

@media(max-width: 575px) {
  .main-slide-info p {
    font-size: 16px;
  }
}


.gallery {
  &__wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    min-height: 580px;
    @media (max-width: $breakpoint-md) {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      min-height: 520px;
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__item {
    position: relative;

    &:nth-child(1) {
      grid-column: 1 / 3;
      grid-row: 1/3;
      @media (max-width: $breakpoint-md) {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
      }
    }
  }
}


.swiper-container.swiper-thumbs-bottom.swiper-thumbs {
  width: 100%;
  max-height: 570px;
}


.s-about {
  &__inner {
    padding-left: 20px;
    @media (max-width: $breakpoint-md) {
      padding-left: 12px;
    }
  }

  & .heading {
    margin-left: 0;
  }

  & .btn-more {
    margin-top: 32px;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;

    &-wrap {
      padding-bottom: 62%;
      @media (max-width: $breakpoint-md) {
        margin-bottom: 24px;
      }
    }
  }

  & .benefit {
    &__heading {
      @media (max-width: $breakpoint-md) {
        margin-bottom: 32px;
      }
    }

    &__wrap {
      margin-bottom: 32px;

      & .column {
        &:not(&:last-child) {
          @media (max-width: $breakpoint-md) {
            margin-bottom: 18px;
          }
        }
      }
    }

    &__icon {
      width: 44px;
      height: 44px;
      object-fit: contain;
      object-position: center;
      @media (max-width: $breakpoint-md) {
        width: 32px;
        height: 32px;
      }
    }

    &__item {
      display: grid;
      grid-template-columns: 44px 1fr;
      gap: 10.5px;
      padding: 0 10px 0 20px;
      @media (max-width: $breakpoint-md) {
        padding-left: 12px;
      }

      &:after {
        content: '';
        width: 2px;
        height: 35px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: #A59389;
      }
    }
  }
}


.s-steps {
  margin-bottom: 186px;

  &__column {
    &:nth-child(even) {
      margin-top: 75px;
    }
  }

  & .heading {
    margin-bottom: 34px;
  }

  .step {
    &__item {
      padding: 0 20px;
    }

    &__img {
      &-wrap {
        width: 44px;
        height: 44px;
        margin-bottom: 32px;

        &:after {
          content: '';
          width: 2px;
          height: 100%;
          position: absolute;
          left: -20px;
          top: 0;
          background-color: #A59389;
        }
      }
    }

    &__heading {
      margin-bottom: 16px;
    }

    &__description {

    }
  }
}

.project-detail-slider {


  & .swiper-thumbs-top .image {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    display: inline-block;
    vertical-align: top;
  }
}


.project-detail-slider .swiper-thumbs .swiper-preview .swiper-slide .project-preview {
  -webkit-filter: grayscale(0);
  filter: grayscale(0)
}


.swiper-preview .swiper-entry .swiper-button-prev {
  left: 0;
  margin: 0;
  top: auto;
  bottom: 5px
}

.swiper-preview .swiper-entry .swiper-button-next {
  right: 0;
  margin: 0;
  top: auto;
  bottom: 5px
}

.project-detail-slider .swiper-preview .swiper-entry .swiper-button-prev {
  bottom: auto;
  top: 50%;
  margin-top: -20px;
  left: 15px
}

.project-detail-slider .swiper-preview .swiper-entry .swiper-button-next {
  bottom: auto;
  top: 50%;
  margin-top: -20px;
  right: 15px
}

.main-banner .bg {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #b5b5b5
}

.swiper-thumbs .swiper-preview .featured-project {
  margin-bottom: 25px
}

.swiper-thumbs .swiper-preview .featured-project .title {
  font-size: 18px
}


.swiper-thumbs .swiper-preview .swiper-slide .project-preview .bg {
  background-color: transparent
}

.swiper-thumbs .swiper-preview .swiper-slide .project-preview {
  overflow: hidden;
  position: relative;
  padding-bottom: 100%;
  display: block;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  cursor: pointer;
  opacity: .2;
}


.swiper-thumbs .swiper-preview .swiper-slide-thumb-active .project-preview {
  opacity: 1;
}


