@import "../abstracts/mixins";
@import "../abstracts/variables";


.logo {
  &__wrap {
    width: 206px;
    display: block;
    @media (max-width: 400px) {

    }
  }

}


.header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 1);
  z-index: 10;
  visibility: visible;
  opacity: 1;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.04);

  @media (max-width: 400px) {

  }

  &.transparent {
    @media (min-width: $breakpoint-lg) {
      background: transparent;
    }
  }

  &__inner {
    position: relative;

    @media (max-width: $breakpoint-lg) {
      padding: 15px 0;
    }
  }


  & .logo {
    &__wrap {
      @media (max-width: $breakpoint-xl) {
        width: 160px;
      }
      @media (max-width: $breakpoint-lg) {
        width: 143px;
      }
    }
  }

  & .lang {
    position: absolute;
    display: inline;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    -webkit-transform: translate(-50%, 20px);
    transform: translate(-50%, 20px);
    left: 50%;
    top: 100%;
    padding: 9px 14px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(160, 160, 160, 0.25);

    &__current {
      position: relative;
      cursor: pointer;

      & i {
        font-size: 14px;
        padding-left: 5px;
      }
    }

    li {
      &:not(&:last-child) {
        padding-bottom: 10px
      }
    }

    &__wrap {
      margin-left: 57.8px;
      @media (max-width: $breakpoint-xl) {
        margin-left: 25px;
      }
      @media (max-width: $breakpoint-sm) {
        margin: 0 0 40px 0;
      }

      a {
        color: #000;
        @include fontSize(16, 18);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        @include transition(.5);

        &:hover {

        }
      }

      &.open {

        & .lang {
          pointer-events: all;
          visibility: visible;
          opacity: 1;
          -webkit-transform: translate(-50%, 10px);
          transform: translate(-50%, 10px);
          z-index: 5;
        }
      }
    }
  }

  & .navbar {

    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    &__phone {
      @include fontSize(16, 18);
      @media (max-width: $breakpoint-lg) {
        margin-bottom: 24px;
      }

    }

    & .menu {
      @media (min-width: $breakpoint-lg) {
        height: 100%;
      }
      @media (max-width: $breakpoint-lg) {
        padding: 0 16px 20px 16px;
        text-align: center;
        margin: 0;
      }

      &-item {
        display: inline-block;

        height: 100%;
        margin-right: 57.8px;
        @media (max-width: $breakpoint-xl) {
          margin-right: 25px;
        }
        @media (max-width: $breakpoint-lg) {
          padding: 0;
          display: block;
          height: auto;
          margin: 0;
        }

        & + .menu-item {
          @media (max-width: $breakpoint-lg) {
            margin: 25px 0 0 0;
          }
        }

        & a {
          font-weight: 400;
          @include fontSize(16, 18);
          line-height: 1.2;
          color: #000;
          transition: color ease-out .3s;
          padding: 42px 0;
          position: relative;
          display: block;
          @media (max-width: $breakpoint-lg) {
            padding: 0 0 10px 0;
          }

          &:after {
            content: '';
            width: 0;
            height: 1px;
            background-color: #000;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            @include transition(.5);
          }
        }

        &:hover, &.current-menu-item {
          & > a {
            &:after {
              width: 40px;
              @include transition(.5);
            }
          }
        }

        &.current-menu-item {
          & > a {
            font-weight: 500;
          }
        }
      }
    }

    @media (max-width: $breakpoint-lg) {


      height: calc(100vh - 79px);
      background-color: #fff;
      position: fixed;
      top: 79px;
      transition: all 1.2s ease;
      z-index: 2;
      width: 100%;
      right: -100%;
      padding: 0 16px 65px 16px;
      overflow: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &.is-visible {
        right: 0;
        transition: all .5s ease;
      }
    }
  }
}

.burger {
  &__wrap {
    width: 50px;
    height: 50px;
    border-radius: 0;
    display: none;
    @media (max-width: $breakpoint-lg) {
      display: flex;
    }

    &.active {

      & .burger {
        & span {
          width: 100%;

          &:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
          }
        }
      }
    }
  }

  display: flex;
  cursor: pointer;
  width: 28px;
  height: 18px;
  justify-content: space-between;
  flex-direction: column;
  @include transition(.3);

  & > span {

    height: 2px;
    background-color: #000000;
    border-radius: 10px;
    transition: 0.5s;
    z-index: 999;

    &:nth-child(2) {
      width: 70%;
    }
  }
}
